.card{
    width: 100%;
    background-color: white;
    position: relative;
    padding: 15px;
    display: flex;
    
    gap: 20px;



    .image-container{
        width: 20%;
        img{
            height: 180px;
            width: 180px;
        }
        .highlight{  
            z-index: 20;
            padding: 7px;
            display: inline-block;;
            font-size: 12px;
            color: white;
            background-color: rgb(255, 106, 52);
            position: absolute;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            top: -10px;
            left: 0;
        }
        .numbering{
            display: inline-block;
            position: absolute;
            height: 40px;
            width: 40px;
            top: 28px;
            padding: 11px;
            left: -12px;
            border-radius: 50%;
            border: 0.5px solid rgb(181, 180, 180);
        }
        @media (max-width: 746px) {
            img{
                width: 100%;
            }
        }
    }







    
    .info-container{
        width: 50%;
        p{   margin-top: 15px;
            color: gray;
        }
        .highlights-text{
            margin-top: 10px;
            overflow: hidden;
            max-height: 40px;
            transition: max-height 1s ease-in-out;
        }
        .expanded-highlights{
            margin-top: 10px;
        
        }
    }







    .rating-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 30%;
        .rating{
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: medium;
            gap: 10px;
            padding: 20px;
            border-radius: 15px;
            color: rgb(0, 0, 73);
            background-color: rgb(238, 245, 251);

            .info-icon{
                position: absolute;
                font-size: smaller;
                top: 5px;
                right: 30px;
                color: rgb(201, 198, 198);
                
            }
        }
        button{
            width: 90%;
            padding: 15px;
            background-color: #318CE7;
            border: none;
            border-radius: 12px;
            color: white;
            transition: 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media (max-width: 768px) {
      

        .image-container{
        width: 100%;            
        }
        .info-container{
                width: 100%;
        }
        .rating-section{
                width: 100%;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .image-container{
            width: 100%;            
            }
            .info-container{
                    width: 100%;
            }
            .rating-section{
                    width: 100%;
            }
    }

}
@media (max-width: 768px) {
    .card{
        flex-direction: column;

    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card{
        flex-direction: column;
    }
}